.cd-morph-dropdown {
	position: relative;
	height: 60px;
}
.cd-morph-dropdown::before {
	content: 'mobile';
	display: none
}
.cd-morph-dropdown .nav-trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	width: 60px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent
}
.cd-morph-dropdown .nav-trigger span,
.cd-morph-dropdown .nav-trigger span::after,
.cd-morph-dropdown .nav-trigger span::before {
	position: absolute;
	background-color: #1a1a1a;
	height: 3px;
	width: 26px
}
.cd-morph-dropdown .nav-trigger span {
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: background-color .3s;
	transition: background-color .3s
}
.cd-morph-dropdown .nav-trigger span::after,
.cd-morph-dropdown .nav-trigger span::before {
	content: '';
	left: 0;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s
}
.cd-morph-dropdown .nav-trigger span::before {
	-webkit-transform: translateY(-9px);
	-ms-transform: translateY(-9px);
	transform: translateY(-9px)
}
.cd-morph-dropdown .nav-trigger span::after {
	-webkit-transform: translateY(9px);
	-ms-transform: translateY(9px);
	transform: translateY(9px)
}
.cd-morph-dropdown.nav-open .nav-trigger span {
	background-color: transparent
}
.cd-morph-dropdown.nav-open .nav-trigger span::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}
.cd-morph-dropdown.nav-open .nav-trigger span::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.cd-morph-dropdown .main-nav {
	display: none
}
.cd-morph-dropdown .main-nav a:hover {
	color: rgba(255,255,255,.6) !important;
}
.cd-morph-dropdown .morph-dropdown-wrapper {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	padding: 1.2em 5%;
	box-shadow: inset 0 1px 0 #e6e6e6;
	background-color: transparent
}
.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
	display: block
}
.cd-morph-dropdown .label {
	display: block;
	font-size: 2.2rem;
	color: #1a1a1a;
	margin-bottom: .8em
}

.cd-morph-dropdown .content li::after {
	clear: both;
	content: "";
	display: block
}

.cd-morph-dropdown .gallery .content li {
	margin-bottom: 1.4em
}

.cd-morph-dropdown .gallery .content a {
	display: block
}
.cd-morph-dropdown .gallery .content a span,
.cd-morph-dropdown .gallery .content a em {
	display: block;
	line-height: 1.2
}

.cd-morph-dropdown .gallery .content a em {
	font-size: 1.8rem;
	padding: .4em 0 .2em;
	color: #1a1a1a
}

.cd-morph-dropdown .gallery .content a span {
	font-size: 1.4rem;
	color: #a6a6a6
}

.cd-morph-dropdown .gallery .content a:hover::before {
	background-color: #1a1a1a
}

.cd-morph-dropdown .gallery li:nth-of-type(1) a::before {
	background: #f4e58a url(../img/cd-gallery-icons.svg) no-repeat 0 0
}

.cd-morph-dropdown .gallery li:nth-of-type(2) a::before {
	background: #f4af6d url(../img/cd-gallery-icons.svg) no-repeat -54px 0
}

.cd-morph-dropdown .gallery li:nth-of-type(3) a::before {
	background: #db6356 url(../img/cd-gallery-icons.svg) no-repeat -108px 0
}

.cd-morph-dropdown .gallery li:nth-of-type(4) a::before {
	background: #8d4645 url(../img/cd-gallery-icons.svg) no-repeat -162px 0
}

.cd-morph-dropdown .links .content>ul>li {
	margin-top: 1em
}

.cd-morph-dropdown .links-list a,
.cd-morph-dropdown .btn {
	display: block;
	margin-left: 14px;
	font-size: 2.2rem;
	line-height: 1.6
}

.cd-morph-dropdown .links-list a:hover,
.cd-morph-dropdown .btn:hover {
	color: #1a1a1a
}

.cd-morph-dropdown .content h2 {
	color: #a6a6a6;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3rem;
	margin: 20px 0 10px 14px
}

@media only screen and (min-width:1036px) {
	.cd-morph-dropdown {
		position: absolute;
		height: 80px;
		left: 0;
		top: 0;
		width: 100%;
		padding: 0;
		text-align: center;
		background-color: transparent
	}
	.cd-morph-dropdown::before {
		content: 'desktop'
	}
	.cd-morph-dropdown .nav-trigger {
		display: none
	}
	.cd-morph-dropdown .main-nav {
		display: inline-block
	}
	.cd-morph-dropdown .main-nav>ul>li {
		display: inline-block;
		float: left
	}
	.cd-morph-dropdown .main-nav > ul > li > a {
		display: block;
		height: 90px;
		line-height: 90px;
		color: #fff;
		font-size: 16px !important;
		font-weight: 500 !important;
		padding: 0 20px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-transition: opacity .2s;
		transition: opacity .2s
	}
	.cd-morph-dropdown .main-nav > ul > li.current_page_item a,
	.cd-morph-dropdown .main-nav > ul > li.current_page_parent a,
	.cd-morph-dropdown .main-nav > ul > li.current_page_ancestor a{
	    color: #fff !important;
	}
	.single-post .cd-morph-dropdown .main-nav > ul > li > a,
	.archive .cd-morph-dropdown .main-nav > ul > li > a,
	.search .cd-morph-dropdown .main-nav > ul > li > a {
	    color: #00A9FF !important;
	    opacity: 1 !important;
	}
	.cd-morph-dropdown .main-nav > ul > li > a.jm_nav {
	    height: auto !important;
	    line-height: 28px;
	    padding: 10px 22px !important;
	    transition: background .3s ease;
	}
	.opaque_header .cd-morph-dropdown .main-nav > ul > li > a.jm_nav,
	.single-post .cd-morph-dropdown .main-nav > ul > li > a.jm_nav,
	.archive .cd-morph-dropdown .main-nav > ul > li > a.jm_nav,
	.search .cd-morph-dropdown .main-nav > ul > li > a.jm_nav {
        background: #00A9FF !important;
        border-color: #00A9FF !important;
        color: #fff !important;
        opacity: 1 !important;
	}
	.opaque_header .cd-morph-dropdown .main-nav > ul > li > a.jm_nav:hover {
        background: #009cf7 !important;
        border-color: #009cf7 !important;
	}	
	.cd-morph-dropdown.is-dropdown-visible .main-nav>ul>li>a {
		opacity: .6
	}
	.cd-morph-dropdown.is-dropdown-visible .main-nav>ul>li.active>a {
		opacity: 1
	}
	.cd-morph-dropdown .morph-dropdown-wrapper {
		display: block;
		top: 58px;
		width: auto;
		padding: 0;
		box-shadow: none;
		background-color: transparent;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		will-change: transform;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s
	}
	.cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
	.cd-morph-dropdown .dropdown-list {
		position: absolute;
		top: 20px;
		left: 0;
		visibility: hidden;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		will-change: transform, width, height;
		-webkit-transition: visibility .3s;
		transition: visibility .3s;
		border-radius: 10px !important;
		box-shadow: 0 5px 20px rgba(0, 0, 0, .08)
	}
	.no-csstransitions .cd-morph-dropdown .dropdown-list {
		display: none
	}
	.cd-morph-dropdown .dropdown-list::before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 0;
		width: 0;
		border: 8px solid transparent;
		border-bottom-color: #fff;
		opacity: 0;
		-webkit-transition: opacity .3s;
		transition: opacity .3s
	}
	.cd-morph-dropdown .dropdown-list>ul {
	    border-radius: 10px;
		position: relative;
		z-index: 1;
		height: 100%;
		width: 100%;
		overflow: hidden
	}
	.cd-morph-dropdown.is-dropdown-visible .dropdown-list {
		visibility: visible;
		-webkit-transition: width .3s, height .3s, -webkit-transform .3s;
		transition: width .3s, height .3s, -webkit-transform .3s;
		transition: transform .3s, width .3s, height .3s;
		transition: transform .3s, width .3s, height .3s, -webkit-transform .3s
	}
	.cd-morph-dropdown.is-dropdown-visible .dropdown-list::before {
		opacity: 1
	}
	.cd-morph-dropdown .dropdown {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		-webkit-transition: opacity .3s, visibility .3s;
		transition: opacity .3s, visibility .3s
	}
	.cd-morph-dropdown .dropdown.active {
		opacity: 1;
		visibility: visible
	}
	.cd-morph-dropdown .dropdown.move-left .content {
		-webkit-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		transform: translateX(-100px)
	}
	.cd-morph-dropdown .dropdown.move-right .content {
		-webkit-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px)
	}
	.cd-morph-dropdown .label {
		display: none
	}
	.cd-morph-dropdown .content {
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		text-align: left
	}
	.cd-morph-dropdown .gallery .content {
	    background: #fff;
	    border-radius: 10px;
	    overflow: hidden;
	    padding: 10px 0;
		width: 260px;
	}
	.cd-morph-dropdown .gallery .content li {
	    display: block;
        margin-bottom: 0;
	    width: 100%;
	}
    .cd-morph-dropdown .gallery .content a {
        color: #4E4E53;
        display: block;
        font-weight: 500 !important;
        font-size: 15px !important;
        height: 50px;
        line-height: 50px;
        padding: 0 0 0 30px;
        text-align: left;
        width: 100%;
    }
    .cd-morph-dropdown .gallery .content a:hover {
        color: #00a9ff;
    }
	.cd-morph-dropdown .links .content>ul>li {
		margin-top: 0
	}
	.cd-morph-dropdown .links .content,
	.cd-morph-dropdown .button .content {
		width: 390px
	}
	.cd-morph-dropdown .links-list a {
		font-size: 1.6rem;
		margin-left: 0
	}
	.cd-morph-dropdown .btn {
		display: block;
		width: 100%;
		height: 60px;
		margin: 1.5em 0 0;
		font-size: 1.8rem;
		text-align: center;
		color: #fff;
		line-height: 60px;
		background: #db6356;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale
	}
	.cd-morph-dropdown .btn:hover {
		background: #1a1a1a;
		color: #fff
	}
	.cd-morph-dropdown .content h2 {
		font-size: 1.8rem;
		text-transform: none;
		font-weight: 400;
		color: #1a1a1a;
		margin: 0 0 .6em
	}
	.cd-morph-dropdown .bg-layer {
		position: absolute;
		top: 0;
		left: 0;
		height: 1px;
		width: 1px;
		background: #fff;
		opacity: 0;
		-webkit-transition: opacity .3s;
		transition: opacity .3s;
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		will-change: transform;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden
	}
	.cd-morph-dropdown.is-dropdown-visible .bg-layer {
		opacity: 1;
		-webkit-transition: opacity .3s, -webkit-transform .3s;
		transition: opacity .3s, -webkit-transform .3s;
		transition: transform .3s, opacity .3s;
		transition: transform .3s, opacity .3s, -webkit-transform .3s
	}
}
.cd-main-content {
	min-height: 100vh;
	background-color: #548c7e
}
@media only screen and (min-width:1036px) {
	.cd-main-content {
		padding-top: 80px
	}
	#menu-main-menu {
		display: none !important;
	}
	#li1 .content {
	    min-width: 513px;
	    width: auto;
	}
	#li1 .content ul {
	    float: left;
	}
	#li1 .content ul.left-ul {
	    width: 233px;
	}
	#li1 .content ul.right-ul {
	    width: 280px;
	}
	#li1 .content ul a {
	    display: inline-block !important;
	}
	#li1 .content::before {
	    background: #e9e7ec;
	    bottom: 25px;
	    content: '';
	    display: block;
	    position: absolute;
	    left: 233px;
	    top: 25px;
	    width: 1px;
	}
}
@media only screen and (max-width:1035px) {
	#morph-header {
		display: none !important;
	}
}
