.price-slider.ui-slider.ui-slider-horizontal {
    background: transparent;
    border: 0;
    border-radius: 4px;
    height: 8px;
}
.price-slider.ui-slider.ui-slider-horizontal::before {
    /*background: linear-gradient(225deg, #00D3FF 0%, #4D42FF 100%);*/
    background: linear-gradient(181.48deg, #00D3FF 0%, #4D42FF 100%);
    border-radius: 5px;
    display: block;
    content: '';
    height: 8px;
    left: 0;
    position: absolute;
    right: 5px;
}


.price-slider .ui-slider-range {
    background: #d7d9e2 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
}
.price-slider.ui-slider-horizontal .ui-slider-handle {
    background: #fff !important;
    border: 0 !important;
    border-radius: 25px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.05), 0 8px 16px 0 rgba(0,0,0,0.1);
    height: 40px !important;
    margin-left: -20px !important;
    outline: none;
    top: -15px !important;
    width: 40px !important;
}
.range-wrap {
    position: relative;
}
.min,.max {
    font-size: 14px;
    position: absolute;
    bottom: -45px;
}
.max {
    right: 0;
}
#package-button {
    background: none !important;
    border: 0 !important;
    color: #4e4e53;
    display: inline-block;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    outline: 0 !important;
    padding-right: 30px;
    position: relative;
    width: auto !important;
}
#package-button.ui-state-hover,
#package-button.ui-state-focus {
    background: none !important;
}
#package-button .ui-icon.ui-icon-triangle-1-s {
    background-image: none;
    position: absolute;
    font-size: 16px;
    height: 30px;
    right: 0;
    text-align: center;
    top: 2px;
    width: 30px;
}
#package-button .ui-icon.ui-icon-triangle-1-s::before {
    font-family: 'Fontawesome';
	color: #4e4e53;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\f078";
}
.hide-me {
    display: none;
}
#package-button .ui-selectmenu-text {
    margin-right: 0;
	color: #4e4e53;
	font-weight: 500;
}
#package-button.ui-selectmenu-disabled {
    opacity: 1 !important;
}
#package-button.ui-selectmenu-disabled .ui-selectmenu-text {
    color: #232326;
}
#package-button.ui-selectmenu-disabled .ui-icon {
    display: none;
}
#package-menu {
    background: #fff !important;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.05);
    padding: 5px 0;
    width: 140px !important;
}
#package-menu .ui-menu-item {
	font-family: Roboto;
    border: 0 !important;
	color: #4e4e53;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 0 15px;
    transition: color .3s ease;
}
#package-menu .ui-menu-item.ui-state-hover,
#package-menu .ui-menu-item.ui-state-focus {
    background: none !important;
    border: 0 !important;
    font-weight: 400;
}
#package-menu .ui-menu-item.ui-state-focus {
    color: #00a7fd;
    margin: 0 !important;
}
.switcher {
    background: rgba(255,255,255,.2);
    border-radius: 18px;
    cursor: pointer;
    font-size: 12px;
    height: 36px;
    margin: 0 auto;
    position: relative;
    width: 226px;
    line-height: 36px;
    text-transform: uppercase;
}
.switcher .option,
.switcher .toggler,
.switcher::before {
    border-radius: 18px;
    font-weight: 900;
    height: 36px;
    letter-spacing: 1.86px;
    position: absolute;
    width: 113px;
    text-align: center;
    z-index: 2002;
}
.switcher::before {
    background: #fff;
    content: '';
    transition: all .3s ease;
    z-index: 2001;
}
.switcher .toggler {
    cursor: pointer;
    z-index: 2010;
}
.switcher .option.monthly {
    color: #4e4e53;
}
.switcher .option.yearly {
    color: #fff;
    right: 0;
}
.switcher.is-yearly .option.monthly {
    color: #fff;
}
.switcher.is-yearly .option.yearly {
    color: #4e4e53;
}
.switcher.is-yearly::before,
.switcher.is-yearly .toggler {
    transform: translateX(113px);
}
#slider-row {
    background: #fff;
    border: 1px solid #eeedf2;
    border-radius: 20px;
}
#min-value, #max-value {
    display: none;
}
@media screen and (min-width: 1216px) {
    #slider-row {
        padding-right: 10px !important;
    }
    #slider-labels {
        clear: both;
        height: 30px;
        line-height: 30px;
        padding-bottom: 70px;
    }
    #slider-row .left-half {
        float: left;
    }
    #slider-row .right-half {
        float: right;
    }
    #slider-cell {
        padding-right: 60px;
        position: relative;
    }
    #slider-cell::before {
        background: #eeedf2;
        bottom: -30px;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
    }
}
@media screen and (max-width: 1215px) {
    #seats-label {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 880px) and (min-width: 768px) {
    #save-amount {
        font-size: 50px !important;
    }
}
@media screen and (max-width: 767px) {
    #save-amount {
        margin-top: 10px !important;
    }
    #slider-row .left-half,
    #slider-row .right-half {
        text-align: center !important;
    }
    #slider-row .right-half,
    .md-below-pt-20 {
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 489px) {
    #slider-row {
        padding: 60px 40px !important;
    }
}