@charset "UTF-8";

@font-face {
  font-family: "font-icons";
  src:url("fonts/font-icons.eot");
  src:url("fonts/font-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-icons.woff") format("woff"),
    url("fonts/font-icons.ttf") format("truetype"),
    url("fonts/font-icons.svg#font-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "font-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e000";
}
.icon-mail:before {
  content: "\e001";
}
.icon-marker:before {
  content: "\e002";
}
.icon-search:before {
  content: "\e003";
}
.icon-calendar:before {
  content: "\e004";
}
.icon-twitter:before {
  content: "\e005";
}
.icon-google-plus:before {
  content: "\e006";
}
.icon-linkedin:before {
  content: "\e007";
}
.icon-facebook:before {
  content: "\e008";
}
.icon-fax:before {
  content: "\e009";
}
.icon-info:before {
  content: "\e00a";
}
.icon-user:before {
  content: "\e00b";
}
.icon-clock:before {
  content: "\e00c";
}
.icon-tag:before {
  content: "\e00d";
}
.icon-folder:before {
  content: "\e00e";
}
.icon-circle-o-notch:before {
  content: "\e00f";
}
.icon-mobile:before {
  content: "\e010";
}
.icon-instagram:before {
  content: "\e011";
}
.icon-youtube:before {
  content: "\e012";
}
.icon-printer:before {
  content: "\e013";
}
.icon-phone-square:before {
  content: "\e014";
}
.icon-home:before {
  content: "\e015";
}
.icon-tools:before {
  content: "\e016";
}
.icon-download:before {
  content: "\e017";
}
.icon-dollar:before {
  content: "\e018";
}
.icon-check:before {
  content: "\e019";
}
.icon-checkmark:before {
  content: "\e01a";
}
.icon-document:before {
  content: "\e01b";
}
.icon-close:before {
  content: "\e01c";
}
.icon-exclamation:before {
  content: "\e01d";
}
.icon-warning:before {
  content: "\e01e";
}
.icon-arrow-open-down:before {
  content: "\e01f";
}
.icon-arrow-open-left:before {
  content: "\e020";
}
.icon-arrow-open-right:before {
  content: "\e021";
}
.icon-arrow-open-up:before {
  content: "\e022";
}
.icon-arrow-down:before {
  content: "\e023";
}
.icon-arrow-up:before {
  content: "\e024";
}
.icon-arrow-left:before {
  content: "\e025";
}
.icon-arrow-right:before {
  content: "\e026";
}
.icon-checklist:before {
  content: "\e027";
}
.icon-cogs:before {
  content: "\e028";
}
.icon-pinterest:before {
  content: "\e029";
}
.icon-quote-left:before {
  content: "\e02a";
}
.icon-quote-right:before {
  content: "\e02b";
}
.icon-link:before {
  content: "\e02c";
}
.icon-external-link:before {
  content: "\e02d";
}
.icon-sign-in:before {
  content: "\e02e";
}
.icon-sign-out:before {
  content: "\e02f";
}
.icon-sign-up:before {
  content: "\e030";
}
.icon-email-plane:before {
  content: "\e031";
}
.icon-stop:before {
  content: "\e032";
}
.icon-rss:before {
  content: "\e033";
}
.icon-save:before {
  content: "\e034";
}
.icon-calendar-check:before {
  content: "\e035";
}
.icon-paper-airplane:before {
  content: "\e036";
}
.icon-picture:before {
  content: "\e037";
}
.icon-houzz:before {
  content: "\e038";
}
.icon-lightbulb:before {
  content: "\e039";
}
.icon-paper-clip:before {
  content: "\e03a";
}
.icon-grid:before {
  content: "\e03b";
}
.icon-cart:before {
  content: "\e03c";
}
