/* Custom Fixes - Single Job */
.single-job .post_single {
	overflow: visible;
}
.single-job .page_title_ctn {
	display: none;
}
.job-header {
	color: #fff;
	padding: 160px 0;
	text-align: center;
}
.job-title {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}
.job-subtitle {
    color: #ffffff;
    opacity: 0.7;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 35px;
}
.job-header h1 {
	color: #fff;
}
.job-header h4 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 1.2em;
}
.job_cat.button {
	background: rgba( 255, 255, 255, 0.2 );
	border-radius: 25px;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	height: 50px;
	letter-spacing: 2px;
	line-height: 50px;
	padding: 0 30px;
	text-transform: uppercase;
}
.section-title-wrap {
	margin-bottom: 60px;
	text-align: center;
}
.section-title-wrap p {
	color: #aaa;
}
.section-title {
	margin-bottom: 16px;
	width: 100%;
}
.section.jobs {
	background: #f8f8f9;
	padding: 120px 0;
}
.section.section-gradient {
	color: #fff;
	font-weight: 300;
	padding: 160px 0;
	text-align: center;
}
.section.section-gradient h2,
.section.section-gradient a {
	color: #fff;
	font-weight: 300;
}
.button.white.hollow {
	border: 1px solid #fff;
	border-radius: 20px;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	text-transform: uppercase;	
}
.section.catch {
	padding: 120px 0;
}
.section.catch p {
	margin-bottom: 2em;
}
.job-card {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 40px rgba(0,0,0,.1);
	display: block;
	margin-bottom: 2em;
	padding: 2.5em 1em;
	text-align: center;
}
.job-card:hover {
	box-shadow: 0 10px 40px rgba(0,0,0,.2);
	transform: translateY(-10px);
}
.job-card h3 {
	color: #4c4c4c;
	font-size: 24px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 1em;
}
.job-card h3 a {
	color: #4c4c4c;
}
.job-status {
	color: #bababa;
	font-size: 15px;
	font-weight: normal;
}
.page-id-9324 .job-card h3 {
	font-weight: 500;
}
.page-id-9324 .job_cat.button {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
}
.page-id-9324 .job_cat.button.engineering {
	background: #e9f8ff;
	color: #0096d6;
}
.page-id-9324 .job_cat.button.sales-marketing {
	background: #f2fee3;
	color: #8bc34a;
}
@media print, screen and (min-width: 64em) {
	.job-title {
		margin-bottom: .5em;
	}
	.job-title-wrap {
		height: 180px;
	}
}
@media screen and (max-width: 63.9375em) {
	.job_cat.button {
		font-size: 12px !important;
		margin-top: 1em;
	}
}