/*
Template: thefox
Theme Name: TheFox Child Theme
Theme URI: http://www.thefoxwp.com
Description: <strong>A superflexible and responsive Business Theme by Tranmautritam team</strong> - <br/>Update notifications available on twitter and facebook:<br/> <a href='https://twitter.com/tranmautritam'>Follow me on twitter</a><br/> - <a href='https://www.facebook.com/tranmautritam.designer'>Join the Facebook Group</a> A theme by <a href="http://themeforest.net/user/tranmautritam?ref=tranmautritam">Tranmautritam Team</a>.
Version: 1.50
Author: Tranmautritam Team
Author URI: http://themeforest.net/user/tranmautritam?ref=tranmautritam
License: Themeforest Split Licence
License URI: -



*/








/************************************************************************************





Put your custom CSS below this block :)
t




*************************************************************************************/
.related_post,
.related_post .col {
	float: left;
}
.related_post .post {
	margin-bottom: 1em;
	padding-bottom: 0 !important;
}
.related_post_title {
	font-size: 22px;
	font-weight: 700;
	margin: 1em 0;
}
.related_post .post-title {
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sep_25 {
	padding: 5px;
}
.blog_3_col .post-date {
	font-size: 14px;
	margin-top: 15px;
	/*color: #c7c8cc;*/
	color: #bbb;
}

.rp_sc .caroufredsel_wrapper {
	height: 435px !important;
}

#posts .related_post .vc_row-fluid {
	overflow: visible
}

.related_post .post-attachement {
	border-radius: 10px 10px 0 0;
}

.related_post .post, #posts .blog_related_post .post {
	webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
	border-radius: 10px;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.related_post .post:hover, #posts .related_post .post:hover {
	-webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}

.related_post .post-title h2 {
	font-size: 20px!important;
	font-weight: 700!important;
}

.related_post .post_ctn {
	padding: 0 25px;
}

.blog-page-blog .post .entry p a, .single_post_related_carousel .blog_related_post .entry p a {
	/*margin: -10px auto 0 auto !important;*/
}

.related_post .post_ctn .entry p {
	margin-bottom: 25px;
}

.related_post .post_ctn .post-info {
	color: #c7c8cc;
	border-bottom: none;
}

.masonry_ctn.grid_post {
	margin-left: -13px!important;
	margin-right: -21px;
}

#posts .rp_sc {
/*	margin-left: -38px;
	width: calc(100% + 38px);
	padding-right: 33px;*/
	float: left;
	overflow: hidden;
	width: 100%;
}

.page-id-32 .post-attachement i {
	display: none;
}

.vc_custom_1508173761547 .vc_column_container  {
	position: relative;
}
#timeline {
	background: #FAF9FC;
	height: 80px;
	overflow: hidden;
	position: absolute;
	width: 100%; 
}
#timeline::before {
    background: -webkit-linear-gradient(left, #FAF9FC , rgba(255,255,255,0));
    background: -o-linear-gradient(right, #FAF9FC, rgba(255,255,255,0));
    background: -moz-linear-gradient(right, #FAF9FC, rgba(255,255,255,0));
    background: linear-gradient(to right, #FAF9FC , rgba(255,255,255,0));
    content: '';
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 50;
}
#timeline::after {
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #FAF9FC);
    background: -o-linear-gradient(right, rgba(255,255,255,0), #FAF9FC);
    background: -moz-linear-gradient(right, rgba(255,255,255,0), #FAF9FC);
    background: linear-gradient(to right, rgba(255,255,255,0), #FAF9FC);
    content: '';
    height: 80px;
    right: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 50;
}
.tl-cell {
	height: 80px;
	position: relative;
	width: 100%;
}
.tl-line {
	border-top: 2px solid #DFDFDF;
	margin: 0 auto;
	position: relative;
	top: 39px;
	width: 1920px;
}
.tl-line::after {
	border-top: 2px solid transparent;
    box-sizing: inherit;
    content: '';
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    transition: width 4s ease-out;
    top: -2px;
}
#timeline.run .tl-line::after {
    border-color: #00A9FF;
    width: 100%;
}
.tl-point {
	background: #fff;
	border: 2px solid #DFDFDF;
	border-radius: 50%;
	height: 76px;
	margin-left: -38px;
	left: 50%;
	position: absolute;
	top: 0;
	transition: border .3s ease;
	width: 76px;
}
.tl-cell:hover .tl-point,
.tl-cell.go .tl-point {
	border-color: #00A9FF;
}
#timeline-points .vc_span3:nth-child(1) .tl-cell .tl-point {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-shovel.svg') no-repeat center center;
}
#timeline-points .vc_span3:nth-child(1) .tl-cell.go .tl-point,
.timeline-icon.shovel {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-shovel-active.svg') no-repeat center center;
}
#timeline-points .vc_span3:nth-child(2) .tl-cell .tl-point {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-spaceship.svg') no-repeat center center;
}
#timeline-points .vc_span3:nth-child(2) .tl-cell.go .tl-point,
.timeline-icon.spaceship {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-spaceship-active.svg') no-repeat center center;
}
#timeline-points .vc_span3:nth-child(3) .tl-cell .tl-point {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-partnerships.svg') no-repeat center center;
}
#timeline-points .vc_span3:nth-child(3) .tl-cell.go .tl-point,
.timeline-icon.partnerships {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-partnerships-active.svg') no-repeat center center;
}
#timeline-points .vc_span3:nth-child(4) .tl-cell .tl-point {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-future.svg') no-repeat center center;
}
#timeline-points .vc_span3:nth-child(4) .tl-cell.go .tl-point,
.timeline-icon.future {
    background: #fff url('http://gruntify.com/wp-content/uploads/vector/about-icon-future-active.svg') no-repeat center center;
}
#timeline-points .vc_span3 {
	margin: 0 !important;
	width: 25%;
}
.timeline-icon {
	background: #fff;
	border: 2px solid #00A9FF;
	border-radius: 50%;
	height: 76px;
	margin: 0 auto 10px auto;
	transition: border .3s ease;
	width: 76px;
}
.timeline-icon-cell {
	display: none;
}
.single-job .tf_single_page > .full-width-section {
	padding-top: 0 !important;
}

.vc_span6.wpb_column.vc_column_container {
	min-height: 1px!important;
}

@media screen and (max-width: 74.9375em) {
	#timeline,
	#timeline-points {
		display: none;
	}
	.timeline-icon-cell {
		display: block;
	}
}
@media print, screen and (min-width: 64em) {
	.page-id-32 .post_ctn {
		height: 145px;
	}
	.page-id-32 .post_ctn .tiptip {
		display: block;
		line-height: 31px;
	}
}
@media (max-width: 1033px) {
	.related_post .post-title {
		height: auto;
	}
	.single_post_navigation_bottom {
		margin-top: 0;
	}
	.single-post #posts,
	.single-post #sidebar {
		padding-bottom: 0 !important;
		padding-top: 10px !important;
	}
	.single-post #search-2 {
		margin-bottom: 1em !important;
	}
	.sb_widget,
	.sb_widget h3 {
		margin-bottom: 10px !important;
	}
}

/* Footer widget logo */
#footer-logo img {
    margin-bottom: 1em;
    width: 100px !important;
}
/* Adds top border line for the footer */
#footer_bg {
    border-top: 1px solid #e8e8e8;
}
/* Remove arrow icons from footer links */
#footer .menu-item a::before {
    display: none;
}
/* Footer widget headers */
#footer .widget h2 {
	font-size: 18px;
    font-weight: 500 !important;
}
/* Footer social/copyright */
#footer, #footer .cat-item a {
    font-size: 15px !important;
}
/* Footer slogan */
#footer .slogan {
	font-size: 15px;
	margin-bottom: 1em;
}
/* Footer contact link */
#footer .contact-link {
	color: #77767E;
}
/* Footer widget links */
#footer .widget_pages .page_item a,
#footer .widget_nav_menu .menu-item a {
    padding: 0 0 1em 0 !important;
}
#footer .thefox_social_widget_icons div {
	margin-bottom: 1em;
	margin-right: 4px !important;
    width: auto !important; 
}
#footer .thefox_social_widget_icons div a {
    background: #00A9FF !important;
    border-radius: 50%;
    height: 32px;
    line-height: 32px;
    width: 32px;
}
#footer .thefox_social_widget_icons div a .fa {
    color: #fff !important;
}

#footer .widget_custom_html {
	margin-bottom: 1em;
}
#footer .widget.rd_social_widget {
	margin-bottom: 0;
	margin-top:20px!important;
}

.footer_type_1 .widget {
    margin: 0px 0px 0px 0!important;
}

#to_top {
	display: none!important;
}
/* Main Menu */
.transparent_header.opaque_header #menu-main-menu .menu-item-2941 > a:hover,
.transparent_header.opaque_header #menu-main-menu .menu-item-8470 > a:hover,
.transparent_header.opaque_header #menu-main-menu .menu-item-9547 > a:hover,
.transparent_header.opaque_header #menu-main-menu .menu-item-61 > a:hover,
#menu-main-menu .menu-item-2941 > a:hover,
#menu-main-menu .menu-item-8470 > a:hover,
#menu-main-menu .menu-item-61 > a:hover {
    color: rgba(0,169,255,.6) !important;
}
/* Chatbots Page */
.promo_btn {
	border: 0 !important;
	border-radius: 50px !important;
	font-weight: 500 !important;
	padding: 13px 17px 14px !important;
}
ol {
	margin-left: 6px !important;
}
ol li {
	margin-bottom: 20px !important;
	margin-left: 36px !important;
	position: relative !important;
}
ol li::before {
	position: absolute !important;
	left: -26px !important;
	top: -6px;
}
.page_title_ctn h1,
.sb_widget > h3 {
	font-weight: 500 !important;
}
h2.promo_title {
	font-weight: 700 !important;
}
.promo_text {
	padding: 18px 0 !important;
}
.jm_nav_single:hover,
.jm_nav_single:active {
	color: #fff !important;
}

 @media print, screen and (min-width: 1036px) {
	.rd_promo_box {
 		position: relative;
 	}
	 .rd_promo_box .cta_mt {
		margin-bottom: 0;
	}
 	.promo_btn {
 		right: 0;
 		margin-bottom: 0 !important;
 		margin-top: -23px !important;
 		position: absolute !important;
 		top: 50%;
 	}
 }
 @media print, screen and (min-width: 1215px) {
	.rd_promo_box {
 		height: 142px;
 	}
 	.rd_promo_box i {
		margin: 25px 45px 25px 35px;
	}
 	.promo_text {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
 	}
}
 @media print, screen and (min-width: 768px) {
 	#author-info h3 {
 		margin-top: 12px;
 	}
 }
 @media screen and (max-width: 1035px) and (min-width: 768px) {
 	.rd_promo_box i {
 		margin-bottom: 0 !important;
 	}
 	.promo_text {
 		padding-left: 1em !important;
 		padding-right: 1em !important;
 	}
 }
@media print, screen and (max-width: 767px) {
	.rd_promo_box {
		height: auto;
		overflow: hidden;
		padding: 1em;
		text-align: center;
	}
	.rd_promo_box i {
		display: block;
		float: none;
		margin: 0 auto;
	}
	.promo_text {
		clear: both;
		padding-bottom: 1em !important;
		text-align: left;
		width:100% !important
	}
	.promo_btn {
		display: inline-block;
		float: none !important;
		margin: 0 auto !important;
	}
}
